div.About {
  text-align: center;
  width: 800px;
  font-family: 'Raleway', sans-serif;
}

div.About > p {
  font-size: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answers {
  text-align: left;
}
