div.languages {
  flex-wrap: wrap;
  width: 900px;
  position: relative;
}

.button {
  border: 1px solid black;
  flex: 1 1 auto;
  width: 350px;
  height: 100px;
  margin: 40px;
  background-color: rgb(142, 176, 176);
  font-size: 25px;
}

.languages > button > a {
  text-decoration: none;
  color: black;
}
