div.languages {
  flex-wrap: wrap;
  width: 900px;
  position: relative;
}

.button {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  flex: 1 1 auto;
  margin: 40px;
  width: 40%;
  height: 100px;
  background-color: rgb(142, 176, 176);
  font-size: 30px;
  color: black;
}

.languages > button > a {
  text-decoration: none;
  color: black;
}
