div.languages {
  flex-wrap: wrap;
  width: 900px;
  position: relative;
}
.languages > button {
  border: 1px solid black;
  flex: 1 1 auto;
  width: 200px;
  height: 50px;
  margin: 40px;
  background-color: rgb(142, 176, 176);
  font-size: 25px;
}
